body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100mvh;
    background-color: black;
    color: white;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    
}