body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100mvh;
    background-color: black;
    color: white;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    
}
/*#showtime{
    width: 500px;
    height: 200px;
    display: flex;
    background-color:black;
    color:white;
    border:solid;
    border-width: 5vh;
    border-color: gray;
    align-items: center;
    justify-content: center;
    margin: 15vh;
    font-size: 9vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1),
                0 20px 20px rgba(0, 0, 0, .1),
                0 0 0 4px rgba(255, 255, 255, 1);

} */
.clock{
    height: 300px;
    width:300px;
    margin-top: 15vh;
    margin-left: 15vh;
    background-color: white;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 1vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1),
                0 20px 20px rgba(0, 0, 0, .1),
                0 0 0 4px rgba(255, 255, 255, 1);
    position: relative;
}
.clock::after{
    position: absolute;
    content:'';
    height: 20px;
    width:20px;
    background-color:black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
}
.timezone{
    margin-top: 10vw;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 3vh;
    color: whitesmoke;
}
.submit_button{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    color:black;
    background-color: whitesmoke;
    border: black;
    
}